#home {
  display: flex;
  color: #eee;
  margin-top: 10vh;
  width: 100vw;
  overflow-x: hidden;
}

#home img {
  height: auto;
  width: 50vw;
}

#home,
.home-info,
.qoute-container {
  display: flex;
}

#home {
  justify-content: space-around;
}

.home-info,
.qoute-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.qoute {
  font-size: 3vmax;
  width: fit-content;
}

.button {
  font-size: 1.8vmax;
  border: 3px solid #eee;
  border-radius: 7px;
  padding: 1vmax;
}

.home-info {
  gap: 2vmax;
}
