.nav {
  height: 80px;
  width: 100%;
  background-color: #000;
  color: #eee;
  border-bottom: 3px solid #eee;
}

.nav,
.nav-links {
  display: flex;
  align-items: center;
}

.nav {
  justify-content: space-around;
}

.logo {
  font-size: 3rem;
}

.nav-links {
  gap: 5vw;
  font-size: 1.4rem;
}

.nav-links div:active {
  transform: scale(0.95);
}

.cart {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#cart-amount {
  display: none;
  border-radius: 100%;
  padding: 2px 6px;
  background-color: orange;
  font-size: 0.8rem;
  text-align: center;
  color: #fff;
  position: absolute;
  z-index: 5;
  right: -15%;
  top: -15%;
}
